*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.nav{
    height:4rem;
    width: 100%;
    /* border:2px solid; */
    background-color:rgb(117, 117, 243);
    position:fixed;
    top:0px;
}
.home,.news,.about,.contact{
    margin: 10px;
    padding: 5px;
    position: relative;
    top:1em;
    left:70%;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.home{
    position: relative;
    left:0%;
}
h2{
    height:100px;
    margin: 1rem;
}
#space{
    height:500px;
}
